@model IEnumerable<Web.MVC.Areas.Admin.Models.ProductViewModel>
@{
    ViewBag.Title = "Info";
}

<h2 class="my-2">
    Danh sách sản phẩm @Html.ActionLink("Thêm mới", "Add", "Product", new { area = "Admin" }, new { @class = "btn btn-primary" })
</h2>


<div class="row">
    <div class="col-auto">
        <div class="row my-1">
            @foreach (var product in Model)
            {
                <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="card border-0 position-relative">
                        @if (product.Quantity == 0)
                        {
                            <div class="no-product">
                                <span class="no-product-text">Hết hàng</span>
                            </div>
                        }
                        <div class="card-header p-0 product-image border-0 sale-content">
                            <img src="@product.ImageUrl.Trim()" class="w-100 h-100 " alt="Ảnh sản phẩm" />
                            @if (product.Discount > 0)
                            {
                                <div class="sale">
                                    <span class="sale-text">Giảm giá</span>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="text-center text-truncate lead">@product.Name</h5>
                            @if (product.Discount == 0)
                            {
                                <p class="fw-bolder text-center">$@Math.Round(product.Price ?? 0,2)</p>
                            }
                            else
                            {
                                var newPrice = product.Price - product.Price * product.Discount / 100;
                                <p class="fw-bolder text-center">
                                    $@Math.Round(newPrice ?? 0,2)
                                    <span class="text-danger text-decoration-line-through price-small">$@Math.Round(product.Price ?? 0,2)</span>
                                </p>
                            }

                            <div data-score="@product.Rate" class="rating"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section footerCss
{
    <link href="~/Assets/Common/Library/RatingStar/jquery.raty.css" rel="stylesheet" />
    <style>
        .rating {
            display: flex;
            -o-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            height: 20px;
        }

        .product-image {
            height: 200px;
        }

        .no-product {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fcfcfc;
            opacity: 0.7;
            z-index: 2
        }

        .no-product-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-color: #fa6b6b;
            padding: 12px;
            opacity: 1;
            
            border-radius: 50px;
        }

        .price-small {
            font-size: 80%;
            opacity: 0.9;
        }
        .sale-content {
            position: relative;
        }
        .sale {
            position: absolute;
            top: 3px;
            left: 0;
            backgound-color: #ff8418;

        }
        .sale-text {
            color: white;
            background-color: #ff8418;
            padding: 3px 5px 3px 3px;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;

            
        }
    </style>
}
@section footerJs
{
    <script src="~/Assets/Common/Library/RatingStar/jquery.raty.js"></script>
    <script>
        $('.rating').raty({
            path: '/Assets/Common/Library/RatingStar/Images',
            readOnly: true
        });
    </script>
}
